@font-face {
	font-family: 'lato';
	src: url('./app/assets/fonts/lato/Lato-Black.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'lato';
	src: url('./app/assets/fonts/lato/Lato-BlackItalic.woff2') format('woff2');
	font-style: italic;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'lato';
	src: url('./app/assets/fonts/lato/Lato-Bold.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'lato';
	src: url('./app/assets/fonts/lato/Lato-BoldItalic.woff2') format('woff2');
	font-style: italic;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'lato';
	src: url('./app/assets/fonts/lato/Lato-Hairline.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'lato';
	src: url('./app/assets/fonts/lato/Lato-HairlineItalic.woff2') format('woff2');
	font-style: italic;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'lato';
	src: url('./app/assets/fonts/lato/Lato-Heavy.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'lato';
	src: url('./app/assets/fonts/lato/Lato-HeavyItalic.woff2') format('woff2');
	font-style: italic;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'lato';
	src: url('./app/assets/fonts/lato/Lato-Italic.woff2') format('woff2');
	font-style: italic;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'lato';
	src: url('./app/assets/fonts/lato/Lato-Light.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'lato';
	src: url('./app/assets/fonts/lato/Lato-LightItalic.woff2') format('woff2');
	font-style: italic;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'lato';
	src: url('./app/assets/fonts/lato/Lato-Medium.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'lato';
	src: url('./app/assets/fonts/lato/Lato-MediumItalic.woff2') format('woff2');
	font-style: italic;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'lato';
	src: url('./app/assets/fonts/lato/Lato-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'lato';
	src: url('./app/assets/fonts/lato/Lato-Semibold.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'lato';
	src: url('./app/assets/fonts/lato/Lato-SemiboldItalic.woff2') format('woff2');
	font-style: italic;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'lato';
	src: url('./app/assets/fonts/lato/Lato-Thin.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'lato';
	src: url('./app/assets/fonts/lato/Lato-ThinItalic.woff2') format('woff2');
	font-style: italic;
	font-weight: normal;
	font-display: swap;
}
